@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root{
    --header-height: 3rem;
    --nav-width: 250px;
    --first-color: #003473;
    --first-color-hover:#01234d;
    --second-color: #FF284A;
    --second-color-hover: #af2136;
    --third-color: #FFD200;
    --first-color-light: #8fb5e4;
    --white-color: #F7F6FB;
    --black-color:#232E33;
    --input-file-color: grey;
    --input-file-hover-color: black;
    --green-color:#0F7300 ;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

.header-gradient{

    background-image: linear-gradient(to right, var(--first-color), var(--second-color));
}

.card {
    display: flex;
    flex-direction: row;
    max-width: 800px; /* Ancho máximo del card */
    margin: 20px; /* Margen exterior */
    border: 1px solid #dee2e6; /* Borde del card */
    border-radius: 8px; /* Radio de borde */
    overflow: hidden; /* Evita que la imagen sobresalga del card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  }

.card-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%; /* Ancho máximo del card */
    margin: 20px; /* Margen exterior */
    border: 1px solid #dee2e6; /* Borde del card */
    border-radius: 8px; /* Radio de borde */
    overflow: hidden; /* Evita que la imagen sobresalga del card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  }

.card-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px; /* Ancho máximo del card */
    margin: 20px; /* Margen exterior */
    border: 1px solid #dee2e6; /* Borde del card */
    border-radius: 8px; /* Radio de borde */
    overflow: hidden; /* Evita que la imagen sobresalga del card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .card-img {
    width: 250px; /* Ancho de la imagen */
    height: auto; /* Altura automática */
    object-fit: cover; /* Ajustar imagen para cubrir */
  }

  .card-img-detail {
    width: 50%; /* Ancho de la imagen */
    height: auto; /* Altura automática */
    object-fit: cover; /* Ajustar imagen para cubrir */
  }
  
  .card-body {
    flex: 1; /* Ocupa el espacio restante */
    padding: 20px; /* Relleno interior */
    width: 100%;
  }
  
  .card-title {
    font-size: 1.25rem; /* Tamaño de la fuente del título */
    margin-bottom: 0.75rem; /* Margen inferior del título */
  }
  
  .card-text {
    margin-bottom: 1rem; /* Margen inferior del texto */
  }

  .button-verinfo {
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    background-color: #fff;
    color: var(--first-color);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
    border-radius: 20px; /* Redondea los bordes del botón */
    border: 2px solid; /* Establece un borde sólido */
    border-image: linear-gradient(to right, var(--first-color), var(--second-color)); /* Utiliza un degradado como imagen de borde */
    border-image-slice: 1; 
  }
  
  .button-verinfo:hover {
    color: #368fef;  
  }

  .input-form{
    display: inline-block;
    padding: 5px 10px;
    width: 40%;
    margin: 0rem 0rem 1rem 2rem;
    background-color: #fff;
    color: var(--black-color);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
    border: 2px solid; /* Establece un borde sólido */
    border-image: linear-gradient(to right, var(--first-color), var(--second-color)); /* Utiliza un degradado como imagen de borde */
    border-image-slice: 1; 
  }

  .button-edit{
    float: right;
    border: none;
    border-radius: 10px;
    display: flex;
    padding: 15px 15px;
    margin: 6px;
    background-color: transparent; /* Hace transparente el color de fondo para mostrar la imagen */
    color: var(--first-color);
    font-size: 12px;
    border: none;
    align-items: center;
    cursor: pointer;
    background-image: url(../iconos/lapiz-blue.png); /* Agrega una imagen de fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el botón */
    background-position: center; /* Centra la imagen de fondo */
  }

  .button-add{
    border: none;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 15px;
    margin: 0rem 0rem 1rem 2rem;
    background-color: var(--green-color); /* Hace transparente el color de fondo para mostrar la imagen */
    color: white;
    font-size: 1rem;
    border: none;
    align-items: center;
    cursor: pointer;
  }

  .button-delete{
    float: left;
    border: none;
    border-radius: 10px;
    display: flex;
    padding: 15px 15px;
    margin: 6px;
    background-color: transparent; /* Hace transparente el color de fondo para mostrar la imagen */
    color: var(--second-color);
    border: none;
    align-items: center;
    cursor: pointer;
    background-image: url(../iconos/delete.png); /* Agrega una imagen de fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el botón */
    background-position: center; /* Centra la imagen de fondo */
  }

  .button-planet{
    float: right;
    border: none;
    border-radius: 10px;
    display: flex;
    padding: 15px 15px;
    margin: 6px;
    background-color: transparent; /* Hace transparente el color de fondo para mostrar la imagen */
    color: var(--green-color);
    font-size: 12px;
    border: none;
    align-items: center;
    cursor: pointer;
    background-image: url(../iconos/planet-earth.png); /* Agrega una imagen de fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el botón */
    background-position: center; /* Centra la imagen de fondo */
  }

 a.text-red{
    color: var(--second-color);
  }

  .dropdown-menu-admin {
    display: none;
    width: auto;
    position: relative;
    background-color: white;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  }

  .dropdown-menu-admin li {
    padding: 8px 12px; /* Espaciado interno */
  }

  /* Estilos para los enlaces dentro de los elementos del menú */
  .dropdown-menu-admin li a {
    color: #333; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Convertir en enlaces en bloques */
  }

  .dropdown:hover .dropdown-menu-admin {
    display: block;
  }

  .dropdown-menu-admin li a:hover {
    background-color: #f5f5f5; /* Color de fondo al pasar el cursor */
  }

  .dropdown-item-admin {
    list-style: none; /* Eliminar el estilo de lista */
  }

  .modal-project > * {
    display: none;
  }

  .modal-project .show {
    position: fixed; /* Fija el fondo modal en una posición fija */
    top: 0;
    left: 0;
    width: 100%; /* Cubre todo el ancho de la ventana */
    height: 100%; /* Cubre toda la altura de la ventana */
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro con opacidad */
    z-index: 999; /* Asegura que el fondo modal esté por encima del resto del contenido */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; 
  }

 

  .modal-content{
    overflow: auto;
    background-color: var(--white-color);
    width: 40%;
    border-radius: 20px;
    padding: 2rem;
  }

  .modal-head{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
  }

  .input-form-modal{
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; 
    padding: 5px 5px;
    margin-top: 1rem;
    width: 100%;
    background-color: #fff;
    color: var(--black-color);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }

  .modal-footer{

    margin-top: 1rem;
  }

  .close{

    float: right;
    border: none;
    border-radius: 20px;
    font-size: 1rem
  }

  .btn-blue{

    width: 50%;
    height: 3rem;
    color: var(--white-color);
    border: none;
    background-color: var(--first-color);
    border-radius: 0px 15px 15px 0px;     
    font-size: 1.5rem;
  }
  .btn-blue:hover{

    width: 50%;
    height: 3rem;
    color: var(--white-color);
    border: none;
    background-color: var(--first-color-hover);
  }

  .btn-red{

    width: 50%;
    height: 3rem;
    border: none;
    color: var(--white-color);
    background-color: var(--second-color);
    border-radius: 15px 0px 0px 15px;
    font-size: 1.5rem;
  }
  .btn-red:hover{

    width: 50%;
    height: 3rem;
    border: none;
    color: var(--white-color);
    background-color: var(--second-color-hover);
  }

  .ma-4{

    margin: 2.5rem;
  }
  
  /* Estilos para el grupo de formularios */
  .form-group {
    /* background: tomato; */
    padding: 1em;
    /* margin: 1em; */
  }

  /* Estilos para el input de tipo file */
  input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }

  /* Estilos para la etiqueta del input de tipo file */
  .label-img {
    width: 100%;
    height: 100px; 
    border: 2px dashed var(--input-file-color);
    border-radius: 5px;
    display: block;
    padding: 1.2em;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
  }

  .label-img i {
    display: block;
    font-size: 42px;
    padding-bottom: 16px;
  }

  .label-img i,
  .label-img .title {
    color: var(--input-file-color);
    transition: color 200ms;
  }

  .label-img:hover {
    border: 2px solid var(--input-file-hover-color);
  } 

    .label-img:hover i,
    .label-img:hover .title {
    color: var(--input-file-hover-color);
  }

  .bt-adress{

    font-size: 1.5rem;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--first-color);
    color: white;
  }

  .btn-band{
    
    font-size: 1.5rem;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--first-color);
    color: white;
  }

  .btn-vend{
    
    font-size: 1.5rem;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--green-color);
    color: white;
  }

  .btn-nvend{
    
    font-size: 1.5rem;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--second-color);
    color: white;
  }

  .btn-sep{
    
    font-size: 1.5rem;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--first-color);
    color: white;
  }

  .btn-total{
    
    font-size: 1.5rem;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--first-color);
    color: white;
  }
  
  /* Estilo para el botón del dropdown */
  .dropdown-btn-admin {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cursor al pasar el ratón */
  }

  .button-addPlus{
    border: none;
    border-radius: 15px;
    background-color: var(--green-color);
    font-size: 25px;
    color: white;
  }

  .button-less{
    border: none;
    border-radius: 15px;
    background-color: var(--second-color);
    font-size: 25px;
    color: white;
  }

  .custom-select-scroll {
    max-height: 100px; /* Altura máxima del select */
    overflow-y: auto; /* Habilita el scroll vertical si es necesario */
  }

  .ask-footer{
    text-align: center; 
    text-transform: uppercase;
    color: var(--second-color);
  }

  .mark-green{

    display: flex;
    padding: 2rem;
    background-color: var(--green-color);
    width: 100%;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .mark-red{
    display: flex ;
    padding: 2rem;
    background-color: var(--second-color);
    width: 100%;
    height: 15px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .mark-warning{
    display: flex;
    padding: 0;
    background-color: var(--third-color);
    width: 100%;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .form-label{

    color: #232E33;
  }


    /*Móviles*/
  @media (min-width:320px) and (max-width:480px){

    .card-img{
        display: none;
    }

    #body-pd{
        width: 100%;
    }

    .input-form{

      margin-right: 1rem;
      margin-left: 1rem;
      width: 90%;
    }

    .modal-content{

      height: 90% ;
      width: 90%;
    }

    .ma-4{

      margin: 0.5rem;
    }

}

/*Tabletas*/
@media (min-width:481px) and (max-width:768px){

    .card-img{
        display: none;
    }

    .ma-4{

      margin: 1.5rem;
    }
}
  
/*Portatiles*/ 
@media (min-width:769px) and (max-width:1024px){

    .card-img{

        display: none;
    }

    .ma-4{

      margin: 1.5rem;
    }
}

/*Pc de Escritorio*/
@media (min-width:1025px) and (max-width:1200px){

    .card-img{

        display: none;
    }

    .ma-4{

      margin: 2.5rem;
    }
}
